@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-ce8one');
    src:url('../fonts/icomoon.eot?#iefix-ce8one') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-ce8one') format('woff'),
        url('../fonts/icomoon.ttf?-ce8one') format('truetype'),
        url('../fonts/icomoon.svg?-ce8one#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
   
body
    font-size 20px
    color #2E2E2E
    font-family 'Slabo 27px' serif
    height auto
    width 100%
    overflow-x hidden

header
    width 100%
    overflow-x hidden
    section
        width 100%
        height auto
        cursor pointer
        
    #section_cal
        height 420px
        width 100%
        
        .temps_portada
            width 50px
            height 50px
            text-align left
            margin-top 15px
            margin-left 90%
            font-size 30px

            #temp_actual
                font-size .8em
                margin-top -12px
                padding 0px
            
        .div_cal
            font-family Dancing Script, cursive
            width 200px
            height 300px
            position relative
            left 50%
            top 30%
            margin-top -150px
            margin-left -100px
            text-align center
            font-size 72px
            
            #div_num
                font-size 90px
            
            #event_actual
                font-size 30px
                margin-top 20px
                

    #section_meteo
        display none
        padding 5px
        width 100%
        height 100%
        
        #div_forecast
            width 100%
            height 200px
            
            article
                display inline-block
                width 30%
                height 200px
                border 1px solid black
                vertical-align top
        
        #meteo_actual
            width 100%
            height 100px
            
            div
                display inline-block
            
            #meteo_icon
                font-size 70px
                float right
                margin 15px 15px 0px 0px
                
#section_info
    width 100%
    height auto
    text-align center
    margin 0 auto
    padding 0px
    
    article
        border 1px dotted black
        border-radius 5px
        margin 15px
        
        div
            display inline-block
            
        input
            
#contenedor
    width 100%
    height auto
    position relative
    
#instafeed
    display none

footer
    text-align center
    margin-top 50px

#botonera
    margin-top 20px
    width 100%
    height auto
    text-align center

    
    input
        background-color white
        border 1px dotted black
        border-radius 50%
        display inline-block
        margin 15px
        height 100px
        width 100px
    
#listado ul
    padding 0px
    margin 0px
    
    li
        cursor pointer
        list-style-type none
        height 42px
        border-radius 5px
        padding 5px  

#panel
    width 250px
    height auto
    border 1px solid black
    margin-top 30px
    padding 5px
    position relative
    left 50%
    margin-left -125px
    border-radius 5px
    
#retorn
    display none

.panel_seleccionado
    background-color #2ecc71
    border-color #689d8c
    border-style solid
    border-width 1px
    width 290px
    position relative
    left 50%
    margin-left -140px

.right
    float right
.left
    float left

.noticia_template
    border 1px solid black
    padding 5px
    margin 15px
    border-radius 5px
    
.colors_header div
    display inline-block
    border 1px solid black
    width 4.9%
    height 4px
    vertical-align top
    margin 0
    padding 0
    
    
/*Clases para los iconos*/
.icon-neu
    &:before
        font-family icomoon
        content "\e606"
        
.icon-solinubol
    &:before
        font-family icomoon
        content "\e607"

.icon-vent
    &:before
        font-family icomoon
        content "\e608"

.icon-sol
    &:before
        font-family icomoon
        content "\e609"

.icon-moltapluja
    &:before
        font-family icomoon
        content "\e602"

.icon-cor
    &:before
        font-family icomoon
        content "\e603"

.icon-pluja
    &:before
        font-family icomoon
        content "\e604"

.icon-trons
    &:before
        font-family icomoon
        content "\e605"

.icon-nubol
    &:before
        font-family icomoon
        content "\e600"

.icon-phone
    &:before
        font-family icomoon
        content "\e601"


.icon-mobile
    &:before
        font-family icomoon
        content "\e958"


.icon-user
    &:before
        font-family icomoon
        content "\e971"


.icon-key
    &:before
        font-family icomoon
        content "\e98d"


.icon-man-woman
    &:before
        font-family icomoon
        content "\e9de"


.icon-smile
    &:before
        font-family icomoon
        content "\e9e1"


.icon-sad
    &:before
        font-family icomoon
        content "\e9e5"


.icon-wink
    &:before
        font-family icomoon
        content "\e9e7"


.icon-facebook3
    &:before
        font-family icomoon
        content "\ea8e"


.icon-twitter3
    &:before
        font-faceamily icomoon
        content "\ea93"
