@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-ce8one');
    src:url('../fonts/icomoon.eot?#iefix-ce8one') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-ce8one') format('woff'),
        url('../fonts/icomoon.ttf?-ce8one') format('truetype'),
        url('../fonts/icomoon.svg?-ce8one#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Slabo';
    src:url('../fonts/Slabo.ttf') format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src:url('../fonts/DancingScript.ttf') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
   
body
    font-size 20px
    color #2E2E2E
    font-family Slabo
    height auto
    width 100%
    overflow-x hidden
    margin-top 20px

header
    width 100%
    overflow-x hidden
    margin-bottom 30px

    section
        width 100%
        height auto
        cursor pointer
        
                
    #section_cal
        height 450px
        width 300px
        border-bottom 1px solid black
        position relative
        left 50%
        margin-left -150px
                
        .temps_portada
            width 50px
            height 50px
            text-align left
            margin-top 15px
            margin-left 90%
            font-size 30px

            #temp_actual
                font-size .8em
                margin-top -12px
                padding 0px
            
        .div_cal
            font-family DancingScript
            width 200px
            height 300px
            position relative
            left 50%
            top 35%
            margin-top -150px
            margin-left -100px
            text-align center
            font-size 72px
            
            #div_num
                font-size 90px
                position relative
                width 200px
                left 50%
                margin-left -100px
                

            #event_actual
                font-size 30px
                margin-top 20px
                                

    #section_meteo
        display none
        padding 5px
        width 100%
        height 100%
        
        #div_forecast
            width 100%
            height 200px
            
            article
                display inline-block
                width 30%
                height 200px
                border 1px solid black
                vertical-align top
                
                p
                    text-align center
                
                figure
                    font-size 1.5em
                    margin 0px
                    padding 0px
                    display inline-block
                
                .maxmin
                    display inline-block
                    
        
        #meteo_actual
            width 100%
            height 100px
            
            div
                display inline-block
            
            #meteo_icon
                font-size 70px
                float right
                margin 15px 15px 0px 0px
                
#section_info
    width 100%
    height auto
    text-align center
    margin 0 auto
    padding 0px
    
    .right
        float right
        padding 5px
        opacity .8
        
    article
        border 1px dotted black
        border-radius 5px
        margin 15px
        
        div
            display inline-block

#contenedor_principal
    width 100%
    height auto
    position relative
    
#instafeed
    display none

footer
    text-align center
    margin-top 50px

#botonera
    margin-top 15px
    width 100%
    height auto
    text-align center

    ul
        padding 0px
        margin 0px
        
        a
            color #2E2E2E
        li
            cursor pointer
            list-style-type none
            background-color transparent
            border 1px dotted  black
            border-radius 50%
            display inline-block
            margin 15px
            height 110px
            width 110px
            text-align center
            
            figure
                font-size 40px
                margin 0 auto
                padding-top 25px
                    
            span
                
                
    
#listado ul
    padding 0px
    margin 0px
    width 300px
    position relative
    left 50%
    margin-left -150px
        
    li
        cursor pointer
        list-style-type none
        border-radius 5px
        padding 15px
        border 1px solid black
        margin-bottom 15px
        
        .headerE
            border-bottom 1px dotted black
            
            .localE
                font-size .7 em

            .diaE
                font-size .7 em
        
        .contentE
            display none
            text-align center
    
#retorn
    display none
    background-color #3498db
    color white
    width 300px
    position relative
    left 50%
    margin-left -150px
    margin-bottom 15px
    border-radius 5px
    
    p
        display inline
        margin-left 45px
        top -15px
        position relative
        
    article
        margin 0 auto
        padding 0
        height 13px
        margin-left 10px 
        div
            background-color white
            width 6px
            height 6px
            border 1px solid white
            border-radius 50%
            display inline-block
            margin 0px auto
            padding 0px

#listado2
    ul
        margin 0 auto
        padding 0
        
        img
            width 290px
            position relative
            left 50%
            margin-left -145px
 
.servei
    width 90%
    height auto
    border 1px solid black
    border-radius 5px
    margin 15px
 
.noticia_template
    border 1px solid black
    padding 5px
    margin 15px
    border-radius 5px
    
table
    width 300px
    position relative
    left 50%
    margin-left -150px
    text-align center
    
    td
        width 40px
        height 40px
        border-radius 50%
        
        a
            text-decoration none
            color black
#datepicker
    display none
.ui-datepicker
    width 300px
    margin 0px auto
    margin-bottom 15px
    padding 0px
    font-family Slabo
    

    .ui-datepicker-header
        text-align center
        .ui-datepicker-prev
            display none
        .ui-datepicker-next
            display none
        .ui-datepicker-year
            display none
.rojo
    background-color red
/*Clases para los iconos*/
.icon-neu
    &:before
        font-family icomoon
        content "\e606"
        
.icon-solinubol
    &:before
        font-family icomoon
        content "\e607"

.icon-vent
    &:before
        font-family icomoon
        content "\e608"

.icon-sol
    &:before
        font-family icomoon
        content "\e609"

.icon-moltapluja
    &:before
        font-family icomoon
        content "\e602"

.icon-cor
    &:before
        font-family icomoon
        content "\e603"

.icon-pluja
    &:before
        font-family icomoon
        content "\e604"

.icon-trons
    &:before
        font-family icomoon
        content "\e605"

.icon-nubol
    &:before
        font-family icomoon
        content "\e600"

.icon-phone
    &:before
        font-family icomoon
        content "\e601"
        
.icon-camera
    &:before
        font-family icomoon
        content "\e90f"

.icon-pacman
    &:before
        font-family icomoon
        content "\e916"

.icon-bullhorn
    &:before
        font-family icomoon
        content "\e91a"
    
.icon-news
    &:before
        font-family icomoon
        content "\e60c"

.icon-photo
    &:before
        font-family icomoon
        content "\e60d"

.icon-note
    &:before
        font-family icomoon
        content "\e60e"

.icon-megaphone
    &:before
        font-family icomoon
        content "\e60f"

.icon-calendar
    &:before
        font-family icomoon
        content "\e610"

.icon-truck
    &:before
        font-family icomoon
        content "\e611"

.icon-info
    &:before
        font-family icomoon
        content "\ea0c"
        float left
        font-size 32px

.icon-cancel-circle
    &:before
        font-family icomoon
        content "\ea0d"

.icon-checkbox-checked
    &:before
        font-family icomoon
        content "\ea52"
        
.icon-lab
    &:before
        font-family icomoon
        content: "\e612"

.icon-fire
    &:before
        font-family icomoon
        content "\e613"
        
.icon-phone2
    &:after
        font-family icomoon
        content "\e942"
        color #2980b9
        margin-left 5px
        
.icon-arrow-up2
    &:before
        font-family icomoon
        font-size .6em
        content "\ea3a"

.icon-arrow-down2
    &:before
        font-family icomoon
        font-size .6em
        content "\ea3e"
        

